* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: Optima, serif;
}

body {
    display: flex;
    background-color: #808080FF;
    text-decoration: none;
}

#form {
    margin-left: 300px;
}

#form label {
    display: block;
    margin-bottom: 8px;
}

#form input[type="text"],
#form input[type="number"],
#form input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.submit {
    background-color: #459EEBFF;
    color: #000000;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.cancel {
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}