.navbar{
    font-family: calibri, serif;
    padding-right: 15px;
    padding-left: 15px;
}

.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home a:link, a:visited{
    color: white;
    font-size: 45px;
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
    font-family: Optima;
}

.navbar-list {
    right: 0;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    text-decoration: none;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    list-style: none;
    background: #459EEBFF;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}