<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${category.name}">Category Name</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/images/flag-icon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/list.css}"/>
    <link rel="stylesheet" th:href="@{/css/sidebar.css}"/>
</head>
<body>
    <div th:replace="sidebar :: sidebar"></div>
    <div class="container">
        <h1 th:text="${category.name}">Category Name</h1>
        <ul class="list">
            <li th:each="product : ${categoryProducts}">
                <a th:href="@{/customer/products/{id}(id=${product.id})}" class="product-link">
                    <img th:src="@{${product.image}}" alt="${product.name}" width="128px" height="128px">
                    <div><b>Name: </b><span th:text="${product.name}"></span></div>
                    <div><b>Price: </b><span th:text="${product.price}"></span></div>
                    <div><b>Rating: </b><span th:text="${product.rating}"></span></div>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>