<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/images/flag-icon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}"/>
    <link rel="stylesheet" th:href="@{/css/order-table.css}"/>
    <title>Orders</title>
</head>
<body>
<div th:replace="company-sidebar :: company-sidebar"></div>
<div class="container">
    <div th:if="${hasActiveOrderItems}" class="content">
        <table>
            <thead>
            <tr>
                <th>Order ID</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Customer Name</th>
                <th>Customer Phone Number</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="orderItem : ${orderItems}">
                <td th:text="${orderItem.order.id}">Order ID</td>
                <td th:text="${orderItem.product.name}">Product Name</td>
                <td th:text="${orderItem.price}">Price</td>
                <td th:text="${orderItem.quantity}">Quantity</td>
                <td th:text="${orderItem.order.customer.firstName} + ' ' +${orderItem.order.customer.lastName}">Company Name</td>
                <td th:text="${orderItem.order.customer.phoneNumber}">Company Phone Number</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${!hasActiveOrderItems}">
        <h1>No order was placed from your company.</h1>
    </div>
</div>
</body>
</html>