<div th:fragment="company-sidebar" class="sidebar">
    <ul class="menu">
        <li>
            <a href="/company/home">
                <span>Profile</span>
            </a>
        </li>
        <li>
            <a href="/company/orders">
                <span>Orders</span>
            </a>
        </li>
        <li>
            <a href="/company/notifications">
                <span>Notifications</span>
            </a>
        </li>
        <li>
            <a href="/logout" class="logout">
                <span>Log out</span>
            </a>
        </li>
    </ul>
</div>
