<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/images/flag-icon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
          integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/list.css}"/>
    <link rel="stylesheet" th:href="@{/css/sidebar.css}"/>
    <script th:src="@{/js/remove-product.js}"></script>
    <title>Likes</title>
</head>
<body>
<div th:replace="sidebar :: sidebar"></div>
<div class="sidebar-active">
    <div class="container">
        <div th:if="${hasProducts}" class="full">
            <h1>Products added to favorite products</h1>
            <ul class="list">
                <li th:each="item : ${likedProducts}">
                    <a th:href="@{/customer/products/{id}(id=${item.id})}" class="product-link">
                        <img th:src="@{${item.image}}" alt="${item.name}" width="128px" height="128px">
                        <div><b>Name: </b><span th:text="${item.name}"></span></div>
                        <div><b>Price: </b><span th:text="${item.price}"></span></div>
                        <div><b>Rating: </b><span th:text="${item.rating}"></span></div>
                    </a>
                    <button type="button" th:attr="onclick='removeFromFavorite(' + ${item.id} + ')'"
                            th:id="'button' + ${item.id}">Remove</button>
                    <p th:id="'removed' + ${item.id}">Product is removed from favorites.</p>
                </li>
            </ul>
        </div>
        <div th:if="${!hasProducts}" class="empty">
            <h1>You haven't liked any products yet.</h1>
        </div>
    </div>
</div>
</body>
</html>