<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/images/flag-icon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
          integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/homepage.css}"/>
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <title>ArmStore</title>
</head>
<body>
    <div th:replace="navbar :: navbar"></div>
    <div class ="container">
        <div class="welcome">
            <h1>Armenian Store</h1>
            <p>Welcome to the unique platform<br> where you can buy armenian goods.</p>
        </div>
    </div>
</body>
</html>