<div th:fragment="sidebar" class="sidebar">
    <ul class="menu">
        <li>
            <a href="/customer/home">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>Profile</span>
            </a>
        </li>
        <li>
            <a href="/customer/favorites">
                <i class="fa fa-heart" aria-hidden="true"></i>
                <span>Favorites</span>
            </a>
        </li>
        <li>
            <a href="/customer/cart">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span>Cart</span>
            </a>
        </li>
        <li>
            <a href="/customer/orders">
                <i class="fa fa-book" aria-hidden="true"></i>
                <span>Orders</span>
            </a>
        </li>
        <li>
            <a href="/customer/categories">
                <i class="fa fa-tasks" aria-hidden="true"></i>
                <span>Categories</span>
            </a>
        </li>
        <li>
            <a href="/customer/search">
                <i class="fa fa-search" aria-hidden="true"></i>
                <span>Search</span>
            </a>
        </li>
        <li>
            <a href="/logout" class="logout">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                <span>Log out</span>
            </a>
        </li>
    </ul>
</div>
